<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>编辑游记_游记平台_汽车之家</title>
    <link rel="stylesheet" href="libs/datepicker/css/datepicker.min.css" />
    <link rel="stylesheet" href="libs/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="libs/select2/css/select2.min.css" />
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="libs/cropper/cropper.css">
    <!--<link rel="stylesheet" href="libs/gridly/jquery.gridly.css">-->
    <link rel="stylesheet" href="css/uploadcut/uploadcutimg.css">

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
	<script type="text/javascript">
		var domain = "http://you.autohome.com.cn";
		// 浏览器校验 ie9（包含ie9）跳转到浏览器下载页
  		var isIE=!!window.ActiveXObject;

        var browser=navigator.appName
        var b_version=navigator.appVersion
        var version=b_version.split(";");
        var trim_Version=version[1].replace(/[ ]/g,"");
        if(!!window.ActiveXObject || "ActiveXObject" in window){
            if( browser=="Microsoft Internet Explorer" && trim_Version=="MSIE7.0" ){
                window.location.href = domain+'/tripnote/pc/browserTipEdit';
            }else if( browser=="Microsoft Internet Explorer" && trim_Version=="MSIE8.0" ){
                window.location.href = domain+'/tripnote/pc/browserTipEdit';
            }else if( browser=="Microsoft Internet Explorer" && trim_Version=="MSIE9.0" ){
                window.location.href = domain+'/tripnote/pc/browserTipEdit';
            }
        }
	
	</script>
</head>

<body>
<template id="yjselect2" desc="输入框附带搜索列表">
    <div class="place clearfix">
        <span class="fl title">{{params.desc}}：</span>
        <input type="text" class="fl" :placeholder="params.placeholder" v-model.trim="destination">
        <span class="limit" v-if="params.defaultmaxlenth>0">{{currentLength}}/{{maxLength}}</span>
    </div>
</template>

<div id="progressModal" class="customize-modal modal fade">
    <div class="modal-dialog">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="loading"></span>
            </div>
        </div>
    </div>
</div>

<!-- 当前编辑页弹窗 -->
<div id="modal" class="customize-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: none"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modalbody" class="modal-body">
                <!-- <p>封面图片最小尺寸为990*330</p>
    <p>请重新选择封面图片</p> -->
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<div id="app">
    <!--
         作者：offline
         时间：2017-04-20
         描述：编辑工具主页
     -->
    <div class="main" v-if="isReady">
        <div class="content clearfix" v-if="isRender">
            <p class="crumbs">
                <a href="javascript:void(0);">游记首页</a>
                >写游记
            </p>
            <div class="left fl">
                <yjuploadcut-component v-bind:imgUrl="yjData.coverInfo.coverUrl" v-bind:upurl="apiConfig.uploadforbase64Url"></yjuploadcut-component>

                <div class="head-title">
                    <div class="title-name">
                        <input type="text" name="" v-model="yjData.coverInfo.title" placeholder="好标题，让你的游记脱颖而出！" maxlength="32">
                        <span class="limit" v-if="yjData.coverInfo.title.length==32" :style="limitStyle">{{yjData.coverInfo.title.length}}/32</span>
                        <span class="limit" v-if="yjData.coverInfo.title.length<32">{{yjData.coverInfo.title.length}}/32</span>
                        <span class="star">*</span>
                    </div>
                    <yjselect2-component v-bind:suggesturl='apiConfig.suggestUrl' v-bind:dest='yjData.coverInfo.destination' v-bind:destinfo='yjData.coverInfo.destinationInfo' v-bind:params='{"desc":"出发地","placeholder":"请输入出发地",defaultmaxlenth:30}'></yjselect2-component>
                </div>
                <!--
                    作者：offline
                    时间：2017-04-20
                    描述：行程模块
                    vue:journey
                -->
                <!-- start -->
                <div v-for="(paragraph,pindex) in yjData.paragraphInfo[0].paragraphList" style="position:relative">
                    <p class="add-journey-btn">
                        <img src="img/add-journey.png" alt="">
                        <span @click="addJourney(pindex)">添加行程</span>
                    </p>
                    <img v-if="yjData.paragraphInfo[0].paragraphList.length>1" src="img/deleteIcon-gray.png" @click="delJourney(pindex)" class="del-paragraph">
                    <div class="journey" :id="pindex">

                        <div class="title-name">
                            <input type="text" name=""  placeholder="给这段旅程加个小标题~" v-model.trim="paragraph.journeyTitle" maxlength="32">
                            <span class="limit" v-if="paragraph.journeyTitle.length==32" :style="limitStyle">{{paragraph.journeyTitle.length}}/32</span>
                            <span class="limit" v-if="paragraph.journeyTitle.length<32">{{paragraph.journeyTitle.length}}/32</span>
                            <span class="star">*</span>
                        </div>
                        <div class="tags">
                            <div v-if="!paragraph.journeyTagdict || paragraph.journeyTagdict.length==0">
                                <a href="javascript:void(0);" @click="showTagsPopup(pindex,$event)">添加标签</a>
                                <span>添加标签，有可能被加精哦～</span>
                            </div>
                            <ul class="has-tags clearfix" v-if="paragraph.journeyTagdict && paragraph.journeyTagdict.length > 0">
                                <li class="tag fl" v-for="tag in paragraph.journeyTagdict">{{tag.text}}</li>
                                <li class="tag fl" id="updateTags" @click="showTagsPopup(pindex,$event)">修改标签</li>
                            </ul>
                            <yjtapopup-component @childup="yjtagspop" v-if="hasTags===pindex" v-bind:index="pindex" v-bind:seltags="paragraph.journeyTagdict"></yjtapopup-component>

                        </div>
                        <yjselect2-component v-bind:suggesturl='apiConfig.suggestUrl' v-bind:dest='paragraph.address' v-bind:destinfo='paragraph.addressInfo' v-bind:params='{"desc":"目的地","placeholder":"请输入目的地",defaultmaxlenth:30}'></yjselect2-component>
                        <div class="spend clearfix">
                            <div class="fl">
                                本次行程花费：
                                <input type="text" placeholder="最低" name="" v-model.trim="paragraph.startCost" maxlength="5">
                                <span v-if="paragraph.startCost.length==5" :style="limitStyle" class="limit limit_mix">{{paragraph.startCost.length}}/5</span>
                                <span v-if="paragraph.startCost.length<5" class="limit limit_mix">{{paragraph.startCost.length}}/5</span>
                                <span>至</span>
                                <input type="text" placeholder="最高" name="" v-model.trim="paragraph.endCost" maxlength="5">
                                <span v-if="paragraph.startCost.length==5" :style="limitStyle"  class="limit limit_max">{{paragraph.endCost.length}}/5</span>
                                <span v-if="paragraph.startCost.length<5" class="limit limit_max">{{paragraph.endCost.length}}/5</span>

                            </div>
                            <div class="fl date">
                                旅行日期：
                                <yjdatepicker-component v-bind:journeydate="paragraph.startTime"></yjdatepicker-component>
                            </div>
                        </div>


                        <div class="journey-content" v-for="(journey,jindex) in paragraph.journeyContent">
                            <yjtextarea-component
                                    v-if="journey.type == 'text'"
                                    v-bind:str="journey.content"
                                    v-bind:params="{defaultmaxlenth:2000,pindex:pindex,jindex:jindex,placeholder:'分享你的旅途故事',css:'content-text'}">
                            </yjtextarea-component>
                            <div v-if="journey.type == 'img'" class="content-image clearfix">
                                <div class="image fl">
                                    <img :src="journey.imgurl">
                                    <div class="rotate"></div>
                                    <div class="rotate-text">
                                        <img src="img/rotateIcon.png" alt="">
                                        <span>旋转90°</span>
                                    </div>
                                </div>
                                <yjtextarea-component v-bind:str="journey.content" v-bind:params="{defaultmaxlenth:140,pindex:pindex,jindex:jindex,placeholder:'为图片添加描述~',css:'describe fl'}"></yjtextarea-component>
                            </div>
                            <img src="img/deleteIcon-gray.png" @click="deleteItem(pindex,jindex)">
                        </div>

                        <div class="operate clearfix">

                            <a href="javascript:void(0);" class="fl" @click="addContent(pindex)">
                                <img src="img/addTextIcon.png" alt="">
                                <span class="text">添加正文</span>
                            </a>
                           	<a href="javascript:void(0);"  v-on:click="uploadimg($event)" class="fl">
								<img src="img/addImgIcon.png" alt="">
								<span class="img-number">0/50</span>
								<span  class="text">添加图片</span>	
								<yjupload-component @childup="uploadedimg" v-bind:index="pindex" v-bind:upurl="apiConfig.uploadpicUrl"></yjupload-component>
							</a>
	                            <div class="fl warn">
                                <p>单个行程最多添加50张图片</p>
                                图片单张大小不超过20M<br> 支持jpg、png、bmp格式的图片
                                <br> 图片最小支持：320*800px，最大支持9999*9999px
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <p class="add-journey-btn"><img src="img/add-journey.png" @click="addJourney" alt="">
                        <span @click="addJourney()" >添加行程</span>
                    </p>
                </div>
                <!-- end -->
            </div>
            <div class="right fl">
                <div class="feedback">
                    <a href="http://you.autohome.com.cn/feedback/tofeedback" target="_blank"></a>
                </div>
                <div class="catalog-article">
                    <yjcatalog-component v-bind:list='yjData.paragraphInfo[0].paragraphList'></yjcatalog-component>
                    <p class="dragArticleText">点击下方按钮可调整图文顺序</p>
                    <a href="javascript:void(0);" class="dragArticleIcon" @click="showDragArticle()"></a>
                </div>

            </div>
        </div>
        <div class="edit-footer">
            <a v-if="enterType != 1 && enterType !=2" @click="manualSaveNote" href="javascript:void(0);">保存草稿</a>
            <a v-if="enterType != 1 && enterType !=2" href="javascript:void(0);">预览</a>
            <a href="javascript:void(0);" @click="publish()">发布游记</a>
        </div>

        <!-- start -->
        <yjpicmixtool-component v-if="showYjpicmixtool" @childup="yjpicmixtool" v-bind:apiconfig="apiConfig" v-bind:d='yjData.paragraphInfo[0]' ></yjpicmixtool-component>
        <!-- end -->
        <div class="shadow" id="shadow"></div>
    </div>
    <yjmessagepopup-component @delback="delJourneyCallback" :btnnumber="btnNumber" v-if="showMessageBox" :message="resultMessage"></yjmessagepopup-component>
    <yjmix-content-component @childup="addContentCallback" v-if="showAddContent" v-bind:params="{defaultmaxlenth:2000,title:'添加正文',type:1}"></yjmix-content-component>

</div>

<script type="text/javascript">
	 /**
	  * 离开页面时的处理
	  * @param {Object} e
	  */
  	function checkLeavePage(e){
        var confirmationMessage = "确定离开此页面?您已输入的内容将不会被保存";
        (e || window.event).returnValue = confirmationMessage; // Gecko and Trident
        return confirmationMessage; // Gecko and WebKit
    }
    window.addEventListener("beforeunload", checkLeavePage);
    window.addEventListener("unload", checkLeavePage);
	
</script>
<script type="text/javascript" src="libs/vue-2.26.js"></script>
<script type="text/javascript" src="libs/jquery.min.v2.1.4.js"></script>
<script type="text/javascript" src="libs/jquery-ui/jquery-ui.js"></script>
<!-- 日历  -->
<script type="text/javascript" src="libs/datepicker/js/datepicker.min.js"></script>
<script type="text/javascript" src="libs/datepicker/js/i18n/datepicker.zh.js"></script>
<!-- 选择框  -->
<script type="text/javascript" src="libs/select2/js/select2.min.js"></script>
<!-- 将图片base64读取到页面上 -->
<script type="text/javascript" src="libs/exif.js"></script>
<!-- 剪裁图片 -->
<script type="text/javascript" src="libs/tether.min.js"></script>
<script type="text/javascript" src="libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/cropper/cropper.js"></script>
<!-- 上传图片 -->
<script type="text/javascript" src="libs/jquery.fileupload.js"></script>
<!-- 拖拽  -->
<!--<script type="text/javascript" src="libs/gridly/jquery.gridly.js"></script>-->
<!-- 弹层插件 -->
<script type="text/javascript" src="libs/layer/layer.js"></script>

<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/popDialog.js"></script>
<script type="text/javascript" src="js/component/yjeditcheck.js"></script>
<script type="text/javascript" src="js/component/yjselect2.js"></script>
<script type="text/javascript" src="js/component/yjuploadcut.js"></script>
<script type="text/javascript" src="js/component/yjupload.js"></script>
<script type="text/javascript" src="js/component/yjdatepicker.js"></script>
<script type="text/javascript" src="js/component/yjtextarea.js"></script>
<script type="text/javascript" src="js/component/yjcatalog.js"></script>
<script type="text/javascript" src="js/component/yjpicmixtool_content.js"></script>
<script type="text/javascript" src="js/component/yjpicmixtool_img.js"></script>
<script type="text/javascript" src="js/component/yjpicmixtool.js"></script>
<script type="text/javascript" src="js/component/yjtagpopup.js"></script>
<script type="text/javascript" src="js/component/yjmessagepopup.js"></script>
<script type="text/javascript" src="js/component/yjpicmixtool_content.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>

</html>